# HTTP token is the same token your script api should provide to authorize requests
HTTP_TOKEN=
IPDATA_KEY=

# Your own private channel discord webhooks. It will be used to cache player icons and logs
SKIN_CHANNEL=
LOG_CHANNEL=