# The address players connect to and get proxied to. They don't see the remote address
LOCAL_ADDR=127.0.0.1:19132
REMOTE_ADDR=127.0.0.1:42069

# The encryption key served to players to load your resource pack
CONTENT_KEY=

# Token required to be authorized to connect to the websocket hub
# If left blank, only websocket requests on localhost will be authorized
WS_TOKEN=